@if (content(); as c) {
  <section id="current-project" class="current-project-section">
    <div class="project-wrapper">
      <div class="project-image">
        <app-img [src]="c.currentProject.image" [alt]="c.currentProject.subtitle" />
      </div>
      <div class="project-info">
        <div class="info-label">
          <span class="label-text">En desarrollo</span>
          <span class="label-line"></span>
        </div>
        <h2 class="project-title">{{ c.currentProject.title }}</h2>
        <h3 class="project-subtitle">{{ c.currentProject.subtitle }}</h3>
        <div class="project-divider"></div>
        <p class="project-description">{{ c.currentProject.description }}</p>
      </div>
    </div>
  </section>
}
